body {
 /*background-color: rgb(25, 25, 25);*/
    background: linear-gradient(45deg, white, #fffdd0);
    font-family: Arial;
    
}

.title {
  font-size: 30px;
  font-weight: bold;
  color:rgb(8, 8, 58)
}

.move-icon {
  height: 50px;
}

.move-button {
  background-color: transparent;
  border: 3px solid white;
  border-style: groove;
  border-color:rgb(8, 8, 58) ;
  width: 120px;
  height: 120px;
  border-radius: 60px;
  margin-right: 10px;
  cursor: pointer;
  
}

.result {
  font-size: 25px;
  font-weight: bold;
  margin-top: 50px;
}

.score {
  margin-top: 60px;
}

.reset-score-button {
  background-color:rgb(red, green, blue);
  border: none;
  font-size: 15px;
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 50px;
}